
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submited</title>
</head>
<body>
    <h3>Form Submited 
    </h3>
</body>
</html>
